<% if @posts.present? %>
  <% @posts.each do |post| %>
      <div class="page-header">
        <div class="row">
          <h1><%= link_to post.title, post_details_blog_path(id: @blog, post_id: post) %></h1>
          <p>by <b><%= post.user.email %></b> at <%= post.created_at.to_s(:long) %></p>
        </div>
      </div>
  <% end %>
<% else %>
    <h3>No posts available</h3>
<% end %>

